API/Connected Services/BService/BillingWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63753/BillingWCF.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfFundingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FundingInfo" nillable="true" type="tns:FundingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFundingInfo" nillable="true" type="tns:ArrayOfFundingInfo" />
  <xs:complexType name="FundingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FundingTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxDeposit" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinDeposit" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthlyQuote" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FundingInfo" nillable="true" type="tns:FundingInfo" />
  <xs:complexType name="FundingCurrencyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FundingTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxDeposit" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinDeposit" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SupportedCurrencies" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FundingCurrencyInfo" nillable="true" type="tns:FundingCurrencyInfo" />
</xs:schema>