API/Connected Services/BService/BillingWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63753/BillingWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="GetAllSupportedFundingTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSupportedFundingTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetAllSupportedFundingTypesResult" nillable="true" type="q1:ArrayOfFundingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFundingTypeSupportedCurrencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFundingTypeSupportedCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetFundingTypeSupportedCurrenciesResult" nillable="true" type="q2:FundingCurrencyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFundingTypeDeposits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FundingTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="DepositID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFundingTypeDepositsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>